body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    width: 600px;
    gap: 2px;
}

.square {
    width: 15px;
    height: 15px;
    background-color: #222;
    transition: background-color 1s ease;
}
